@charset "utf-8";
@import url(reset.css);
@font-face {
            font-family: 'NanumSquareR';
            src: url('../font/NanumSquareR.ttf'),
                url('../font/NanumSquareR.eot');
}
@font-face {
            font-family: 'NanumSquareB';
            src: url('../font/NanumSquareB.ttf'),
                url('../font/NanumSquareB.eot');
}
@font-face {
            font-family: 'NanumSquareEB';
            src: url('../font/NanumSquareEB.ttf'),
                url('../font/NanumSquareB.eot');
}
#wrap{
    width: 100%;
    margin: 0 auto;
    font-family:'NanumSquareB';
}


/*figure*/
figure{position: relative; margin-top: 40px;}
figure>p{position: absolute; font-family: 'Kanit', sans-serif;  font-size: 45px; color: #393939; margin-left: 30%; margin-top: 5%;}

/*content-1*/
#content-1{width: 100%;}
.main-title{text-align: center; margin-top: 3%;}
.main-title>h2{font-size: 35px;}
.main-title>.title-line{width: 60px; height: 5px; background: #00704a; margin: 1% auto;}
.main-title>p{font-size: 18px; color: #525252; line-height: 25px;}
.brand{width: 70%; margin: 10% auto;}
.brand>ul>li{width: 48%; height: 400px; float: left; margin: 1%;}
.brand>ul>.inner{padding-top: 5%;}
.brand>ul>li>.number{background: #00704a; padding:10px 15px; color: white; font-size: 25px; margin-top: 5%;}
.brand>ul>li>.brand-title{display: inline-block; font-size: 29px; margin-left: 3%; font-family: 'NanumSquareEB';}
.brand>ul>li>.brand-ment{font-size: 17px; margin-top: 9%; line-height: 30px;}
.brand>ul>li>.bold{font-size: 62px; font-family: 'Kanit', sans-serif; color: white;}
.brand>ul>li>.color{color: #f8f8f8; text-align: right; margin-top: 2%;}
.box1{width: 100%; height: 450px; background: #f8f8f8; margin-top: -4%;}
.box2{width: 100%; height: 450px; background: #f8f8f8; margin-top: 22.5%;}
.box3{width: 100%; height: 500px; background: #f8f8f8; margin-top: 22.5%;}

/*top버튼*/
#top-button>img{position: fixed; float: right; bottom:320px; right: 50px; position: relative;}

